body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

table {
  margin-top: 15px;
  border: 1px solid black;
  border-collapse: collapse;
  min-width: 700px;
  text-align: center;
}

th,
td {
  border-bottom: 1px solid black;
  padding: 15px 10px;
}

td:last-of-type,
th:last-of-type {
  border-left: 1px solid black;
  text-align: left;
}

#div__search {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#selectSort {
  margin-left: 5px;
  margin-right: 50px;
}

.btn-delete {
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 212, 160);
}

.btn-delete:hover {
  transform: scale(1.1);
}
