* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* max-width: 1200px; */
  margin: 33px 25px;
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 21px;
  overflow: auto;
}

#form {
  align-items: center;
  display: flex;
}

#form__container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#email {
  margin: 0px 25px 0 8px;
}
#password {
  margin: 0 8px;
}

#amountFound {
  margin-right: 15px;
}

#paidFound {
  margin-right: 15px;
}

#buttonSignOut,
#buttonShowList {
  display: flex;
  width: 75px;
  text-align: center;
  margin-top: 5px;
  padding: 3px;
}

.buttons__container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons__container > button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  max-width: 1100px;
  text-align: center;
  margin: 15px auto;
}

tr {
  background-color: white;
  color: black;
}

tr:hover {
  background-color: red !important;
}

tr:nth-child(2n) {
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
}

th,
td {
  border-bottom: 1px solid black;
  padding: 15px 10px;
  /* background-color: white; */
  max-width: 200px;
  overflow-wrap: break-word;
}

.additional {
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  min-width: 250px;
}

.cash {
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  min-width: 50px;
  width: 50px !important;
}

#div__search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  flex-direction: column;
  gap: 15px;
}

#div__search > div {
  display: flex;
}

#div__search > div > div {
  text-align: center;
}

#selectSort {
  margin: 0 15px 0 5px;
}

.btn-delete {
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(110, 41, 41);
  font-weight: 700;
}

.btn-delete:hover {
  transform: scale(1.1);
}
