body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

table {
  margin-top: 15px;
  border: 1px solid black;
  border-collapse: collapse;
  min-width: 700px;
}

td {
  border-bottom: 1px solid black;
  padding: 5px;
}

td:last-of-type {
  border-left: 1px solid black;
}
