* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 800px;
  margin: 25px auto;
}

#form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#email {
  margin-bottom: 15px;
}
#password {
  margin-bottom: 5px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  min-width: 700px;
  text-align: center;
  margin: 15px auto;
}

th,
td {
  border-bottom: 1px solid black;
  padding: 15px 10px;
}

td:last-of-type,
th:last-of-type {
  border-left: 1px solid black;
  text-align: left;
}

#div__search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

#selectSort {
  margin-right: 15px;
}

.btn-delete {
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 212, 160);
}

.btn-delete:hover {
  transform: scale(1.1);
}
